@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "Poppins", sans-serif;
}


@layer utilities {
    .clip-hex {
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      border-radius: 0;
    }
    .hexagon-hover {
      transition: clip-path 0.3s ease-in-out, border-radius 0.3s ease-in-out;
      will-change: clip-path, border-radius;
    }
  
    .hexagon-hover:hover {
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      border-radius: 0;
    }
}
@keyframes borderLight {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
}

@layer utilities {
  .animate-borderLight {
    animation: borderLight 2s infinite alternate ease-in-out;
  }
}


@layer utilities {
  .animate-gradient {
    animation: gradient 15s linear infinite;
    background-size: 400% 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppins", sans-serif;

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #e0e0e0, #ffffff);
    /* Gradient from gray to white */
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.24);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #333333, #bfbcbc, #696868);
    /* Gradient from dark gray/black to white */
    border-radius: 8px;
  }
}


.title {
  @apply text-2xl md:text-3xl lg:text-4xl text-center font-semibold mt-6 md:mt-12 lg:mt-16 mb-3 leading-tight;
}

.subtitle {
  @apply text-center text-zinc-500 mb-5 md:mb-8 lg:mb-12;
}

.nav-items {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}


/*hire us,about us,contact us page hero css  */
/* @keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-bg {
  animation: gradientMove 10s infinite linear;
}

 */


/* 
hero1.jsx css in  designUnused */
/* @keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}


hero.jsx css in  designUnused

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.hero-grid {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}

.text-gradient {
  background: linear-gradient(to right, #ffffff, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
